---
layout: default
---

<ul>
  {% for post in collections.posts.resources %}
    <li>
      <small>{{ post.date | date: "%Y-%m-%d" }}</small>
      <a href="{{ post.relative_url }}">{{ post.data.title }}</a>

      {%- if post.draft -%}
        <sup>draft</sup>
      {%- endif -%}
    </li>
  {% endfor %}
</ul>
