<footer>
  <hr />

  Written by
  <a href="{% link about.html %}">
    {{ metadata.author | escape }}
  </a>,
  made with
  <a href="https://www.bridgetownrb.com/" target="_blank">
    Bridgetown.rb
  </a>.
</footer>
